body{
    background-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.escola{
    background-image: linear-gradient(#010307,#ca0b0b);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0; 
