body{
    background-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #1f53a7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.escola{
    background-image: linear-gradient(#1f53a7,#0b6eca);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
